@using BlazorSiliconApp.Components.Sections
@inherits LayoutComponentBase

<div class="wrapper">
    <BlazorSiliconApp.Components.Sections.Header/>
    <main>
        @Body
    </main>
    <BlazorSiliconApp.Components.Sections.Footer/>

</div>



<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
