@inherits LayoutComponentBase
@layout AccountLayout

<section class="account-details">
    <div class="container">
        <aside>
            <partial name="/"/>
            <BlazorSiliconApp.Components.Sections.ProfileAvatar/>
            <ManageNavMenu />
        </aside>
        <div class="content">
            @Body
        </div>
    </div>
</section>


@code{

    [CascadingParameter]
    private ApplicationUser user { get; set; } = default!;

    [CascadingParameter]
    private HttpContent HttpContent { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await LoadUserDataAsync();
    }
    private async Task LoadUserDataAsync()
    {
        
    }

}