@using Microsoft.AspNetCore.Identity
@using BlazorSiliconApp.Data

@rendermode InteractiveServer

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject IHttpContextAccessor HttpContextAccessor


 

<aside>
    <div class="profile-info">
        <CascadingValue Value="HttpContextAccessor.HttpContext">
            <ProfileAvatar />
        </CascadingValue>
        <h3>@User?.FirstName @User?.LastName</h3>
        <p>@User?.Email</p>
    </div>
    <nav>
        <NavLink class="btn-theme-s href="account/details" ActiveClass="btn-theme-s"> Account details</NavLink>
        <NavLink class="btn-theme-s href="account/security" ActiveClass="btn-theme-s">Security</NavLink>
        <NavLink class="btn-theme-s href="account/saved-courses"  ActiveClass="btn-theme-s">Saved Courses</NavLink>
        <button class="btn-theme-s" @onclick="NavigateToSignOut">Sign Out</button>
    </nav>
</aside>

@code {
    [Parameter]
    public ApplicationUser? User { get; set; }

    private void NavigateToSignOut()
    {
        NavigationManager.NavigateTo("/signout");
    }
}